*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #f3f3f3;
    color: #222;
    padding: 20px;
    line-height: 1.5;
}

header{
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

h1{
    font-size: 1.8rem;
    color: #b00000;
    margin-bottom: 6px;
}

h4{
    font-size: 0.9rem;
    color: #555;
}

form{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 26px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
}

.grupo{
    margin-bottom: 20px;
}

.input{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #b00000;
    background: transparent;
}

.input:focus {
    outline: none;
}


.escrita {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #bbb;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #fff;
}


.escrita .input-label {
    color: #b00000;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 12px;
    top: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
}


.input:focus ~ .input-label,
.input:not(:placeholder-shown) ~ .input-label {
    top: -10px;
    font-size: 14px;
    color: #b00000;
    background: #fff;
    padding: 0 4px;
}

.textarea {
    min-height: 250px;
    resize: none;
    overflow-y: auto;
    width: 100%;
}

details summary {
    cursor: pointer;
    font-weight: bold;
}


fieldset {
    border: 1px solid #bbb;
    padding: 10px 15px;
    border-radius: 8px;
}

fieldset label {
    font-size: 16px;
    color: #222;
    cursor: pointer;
    margin-left: 5px;
}

legend {
    font-weight: bold;
    color: #b00000;
    padding: 0 5px;
}


input[type="radio"],
input[type="checkbox"]{
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #b00000;
}

button{
    width: 100%;
    padding: 12px 14px;
    background-color: #b00000;
    border: none;
    color: white;
    font-size: 1.02rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.18s ease, transform 0.06s ease;
    margin-top: 6px;
}

button:hover{
    background-color: #880000;
    transform: translateY(-1px);
}




@media (max-width: 600px) {

    header {
        padding: 15px;
        font-size: 1.1rem;
        text-align: center;
    }

    form {
        padding: 18px;
        border-radius: 8px;
        margin-top: 15px;
    }

    label {
        font-size: 14px;
    }

    input,
    textarea,
    select {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 15px;
        padding: 11px;
    }
}
